{% extends 'frontendapp/base.html'%}

{%block scripts%}
<script>

  var entered_parameters = []

  function process_adding_parameter() {
    var parameter_name = document.getElementById('parameter_name').value
    var parameter_value = document.getElementById('parameter_value').value

    // todo: check if the parameter already exists

    var new_element_index = entered_parameters.length
    entered_parameters.push({name: parameter_name, value: parameter_value})

    // creates new UI element representing the added parameter
    var new_parameter_holder_id = parameter_name + "_ui_id"
    var new_parameter_ui_name = parameter_name + " = " + parameter_value
    var new_parameter_holder = document.createElement('li')
    new_parameter_holder.setAttribute("id", new_parameter_holder_id)
    var new_parameter_label = document.createElement('label')
    new_parameter_label.textContent = new_parameter_ui_name
    var new_parameter_delete_button = document.createElement('button')
    new_parameter_delete_button.textContent = 'X'
    new_parameter_holder.appendChild(new_parameter_label)
    new_parameter_holder.appendChild(new_parameter_delete_button)

    var parameters_list_in_ui = document.getElementById('parameters_list_ol')
    parameters_list_in_ui.appendChild(new_parameter_holder)

    // removes the element from the params array and UI
    new_parameter_delete_button.addEventListener("click", function() {
      new_parameter_holder.remove();
      // go through list of params and remove the element when you found it
      found = false
      found_at = 0
      entered_parameters.forEach((parameter_object) => {
        if (found == false) {
          if (parameter_object.name == parameter_name) {
            //console.log(parameter_object.name)
            found = true;
          } else {
            found_at += 1
          }
        }
      })

      if (found) {
        entered_parameters.splice(found_at, 1)
      }
    });
  }

  
  var task_specific_field_input_elements = []
  function create_fields_for_selected_task() {
    task_specific_field_input_elements = []
    selected_task = document.getElementById('task_selector').value

    fields_for_task = {
      reading_comprehension: [
        'Context',
        'Question',
        'Answer 1',
        'Answer 2',
        'Answer 3',
        'Answer 4',
      ],
      bot_detection: [
        'Post history'
      ]
    }

    selected_fields = null
    if (selected_task == "Reading Comprehension") {
      selected_fields = fields_for_task.reading_comprehension
    } else if (selected_task == "Bot Detection") {
      selected_fields = fields_for_task.bot_detection
    } else {
      throw ("The task " + selected_task + " is unknown")
    }

    // creates an assortment of fields specific for the task
    fields_holder = document.getElementById('task_specific_fields')
    fields_holder.innerHTML = '';
    selected_fields.forEach((field_to_create) => {
      var specific_field_holder = document.createElement('li')
      var field_label = document.createElement('label')
      field_label.textContent = field_to_create + ": "
      var input_field_name = field_to_create
      var input_field_id = input_field_name + "_id"
      var input_field = document.createElement('textarea')
      input_field.setAttribute('name', input_field_name);
      input_field.setAttribute('id', input_field_id);
      input_field.setAttribute('placeholder', "Enter value for \"" + field_to_create + "\"");

      task_specific_field_input_elements.push(input_field)
      specific_field_holder.appendChild(field_label)
      specific_field_holder.appendChild(input_field)
      fields_holder.appendChild(specific_field_holder)
    })

    console.log(selected_fields)
  }
  $(document).ready(() => {
    task_selector = document.getElementById('task_selector')
    task_selector.addEventListener("change", create_fields_for_selected_task);
    create_fields_for_selected_task()
  })

</script>
{%endblock scripts%}

{%block content%}
<div>
  <div id="model_selection">
    <h3>Model selection</h3>
    <label>Select LLMs to infer with:</label>
    {% for model_id in model_ids %}
      <div>
      <input type="checkbox" id="{{model_id}}_checkbox" name="{{model_id}}_checkbox"/>
      <label for="{{model_id}}_checkbox">{{model_id}}</label>
      </div>
    {% endfor %}
  </div>
  <dev id="parameters_selection_div">
    <h3>Parameter selection</h3>
    <div>
      <h4>Existing parameters:</h4>
      <div id="parameters_list_div">
        <ol id="parameters_list_ol">
        </ol>
      </div>
    </div>
    <div id="parameters_entry_div">
      <h4>Add new parameters</h4>
      <label>Enter parameter name: </label>
      <input type="text" id="parameter_name" name="parameter_name"></input>
      <label>Enter parameter value: </label>
      <input type="text" id="parameter_value" name="parameter_value"></input>
      <button id="add_parameter_button" onclick="process_adding_parameter();">Add parameter</button>
    </div>
  </div>
  <div id="task_selection_region_div">
    <h3>Task selection</h3>
    <label>Select task to perform:</label>
    <select name="task_selector" id="task_selector">
      {% for task_option in task_options %}
        <option value="{{ task_option }}">{{ task_option }}</option>
      {% endfor %}
    </select>
  </div>
  <div>
    <h3>Enter the data specific to the task</h3>
    <ol id="task_specific_fields">
    </ol>
  </div>
  <button id="commence_inference_button">Infer</button>
</div>
{%endblock content%}