{% extends 'frontendapp/base.html'%}

{%block scripts%}
<script>

// charts
function make_barchart(element_id, labels_list, data_list, graph_label) {
    var ctx = document.getElementById(element_id).getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels_list,
            datasets: [{
                label: graph_label,
                data: data_list,
                borderWidth: 1,
                // todo: use a propper palette generator
                backgroundColor: palette('tol', 5).map(function(hex) {
                    return '#' + hex;
                })
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 1,
                        beginAtZero: true
                    }
                }]
            }
        }
    })
}

function create_charts(response) {
    tasks_graphs_data = response["tasks_graphs_data"]

    /* tasks_graphs_data scheme:
    [
        {
        task_name: str,
        graphs:
        [
            {
            graph_name: str,
            values:
            [
                {
                name: str,
                value: float
                }
            ]
            }
        ]
        }
    ]
    */

    charts_container = document.getElementById('charts')
    charts_container.textContent = ""

    if (tasks_graphs_data.length == 0) {
        var no_charts = document.createElement('label')
        no_charts.textContent = "No charts :c"
        charts_container.appendChild(no_charts)
    }

    tasks_graphs_data.forEach((task_graphs_data) => {
        task_name = task_graphs_data["task_name"]

        var task_name_header = document.createElement('h4')
        task_name_header.textContent = "Graphs for task \"" + task_name + "\""
        charts_container.appendChild(task_name_header)

        // draws the actual graphs for this task
        graphs_for_the_task = task_graphs_data["graphs"]
        graphs_for_the_task.forEach((graph_data) => {
            graph_name = graph_data['graph_name']
            graph_values = graph_data['values']

            // transforms graph values into a format edible by make_barchart
            names_list = []
            values_list = []
            graph_values.forEach((graph_value) => {
                names_list.push(task_name + ": " + graph_value["name"])
                values_list.push(graph_value["value"])
            })

            var chart_div = document.createElement('div')
            charts_container.appendChild(chart_div)

            var chart_label_b = document.createElement('b')
            chart_div.appendChild(chart_label_b)
            var chart_label_center = document.createElement('center')
            chart_label_b.appendChild(chart_label_center)
            var chart_label = document.createElement('label')
            chart_label.textContent = graph_name
            chart_label_center.appendChild(chart_label)
            var el = document.createElement('canvas')
            chart_id = task_name + "_" + graph_name + "_chart"
            el.setAttribute('id', chart_id);
            el.setAttribute('width', 400);
            el.setAttribute('height', 100);
            chart_div.appendChild(el)

            make_barchart(chart_id, names_list, values_list, graph_data['score_label'])
        })
    })

    /*
    task_ratings.forEach((task) => {
        task_name = task["task_name"]
        metric_names = []
        metric_values = []
        task["metrics"].forEach((metric => {
            metric_names.push(task_name + ": " + metric["name"])
            metric_values.push(metric["value"])
        }))

        var chart_div = document.createElement('div')
        charts_container.appendChild(chart_div)

        var el = document.createElement('h4')
        el.textContent = selected_model_id + " evaluation for " + task_name
        chart_div.appendChild(el)

        var el = document.createElement('canvas')
        el.setAttribute('id', task_name + "_chart");
        el.setAttribute('width', 400);
        el.setAttribute('height', 100);
        chart_div.appendChild(el)

        make_barchart(task_name + "_chart", metric_names, metric_values)
    })
    */

    document.getElementById("error_message_label").textContent = response["evaluation_error_message"]
}

var filters_array = []

function create_filters(response) {
    var filters_recieved = response["filters"]
    filters_array = []
    filters_container = document.getElementById('filters_div')
    filters_container.textContent = ""
    filters_recieved.forEach((filter) => {
        var lbl = document.createElement('label')
        lbl.textContent = filter["name"]
        filters_container.appendChild(lbl)

        var filter_selector = document.createElement('select')
        selector_id = filter["name"] + "_filter"
        filter_selector.setAttribute('id', selector_id);
        filter_selector.setAttribute('name', filter["name"]);
        filters_container.appendChild(filter_selector)

        filter["values"].forEach((value) => {
            var option = document.createElement('option')
            option.setAttribute('value', value);
            option.textContent = value
            if (value === filter["default"]) {
                option.setAttribute('selected', "");
            }
            filter_selector.appendChild(option)
        })
        filters_container.appendChild(document.createElement('br'))
        filters_array.push(filter_selector)
    })
}


function create_notes(response) {
    var notes_list = response["notes"]
    notes_div = document.getElementById('notes_div')
    notes_div.textContent = ""

    notes_list.forEach((note_text) => {
        var note_label = document.createElement('label')
        note_label.textContent = note_text
        notes_div.appendChild(note_label)
    })
}


function apply_filters() {
    filters_data = {}
    filters_array.forEach((filterNode) => {
        filters_data["filter_" + filterNode.name] = filterNode.value
    })

    filters_data["single_model_id"] = selected_model_id

    $.ajax({
        url: "{% url 'comparisons_single_model_data' %}",
        type: "GET", //send it through get method
        dataType: "json",
        data: filters_data,
        success: function(response) {
            create_charts(response)
            create_notes(response)
        },
        error: function(xhr) {
            alert(xhr)
        }
      });
}

// charts selector
var selected_model_id = "{{general_data.selected_model}}"
$(document).ready(function(){model_list_click_handler(selected_model_id)})

// models list
var model_list_elements = []
function update_selected_model_highlighter() {
    model_list_elements.forEach((element) => {
        if (element.id === (selected_model_id + "_list_item")) {
            element.style.textDecoration = "underline";
        } else {
            element.style.textDecoration = "none";
        }
    });
    document.getElementById("selected_model_label").textContent = "Selected model: " + selected_model_id
}

function process_single_model_data_response(response) {
    create_charts(response)
    create_filters(response)
    create_notes(response)
    // create_charts
}

function model_list_click_handler(model_name) {
    selected_model_id = model_name
    if (selected_model_id === 'None') {
        return
    }

    update_selected_model_highlighter()

    $.ajax({
        url: "{% url 'comparisons_single_model_data' %}",
        type: "GET", //send it through get method
        dataType: "json",
        data: { 
          single_model_id: model_name
        },
        success: function(response) {
            process_single_model_data_response(response)
        },
        error: function(xhr) {
            alert(xhr)
        }
      });

  }
$(document).ready(function(){
    {% for model_name in general_data.models_list %}
        var element = document.getElementById("{{model_name}}_list_item")
        element.addEventListener("click", function(){ model_list_click_handler("{{model_name}}"); });
        model_list_elements.push(element)
    {%endfor%}
})
$(document).ready(update_selected_model_highlighter)

</script>
{%endblock scripts%}

{%block content%}
<!-- displaying the chart -->
<!-- you can also play around with the width and height to increase or decrease the chart size -->

<div id='model_list'>
{% if no_models%}
<label>No models available for comparison!</label>
{% endif %}
<label>Select a model to inspect:</label>
<ul>
    {% for model_name in general_data.models_list %}
        <li id="{{model_name}}_list_item">{{model_name}}</li>
    {%endfor%}
</ul>
<label id='selected_model_label'>Selected model: {{general_data.selected_model}}</label>
<br/>
<br/>
</div>

<div>
<label>Filter out experiments by configuration:</label>
<div id='filters_div'>
</div>
{% if not no_models%}
<button type="button" onclick="apply_filters()">Apply filters</button>
{% endif %}
</div>

<div id='error_message'>
<label id='error_message_label'>{{model_data.evaluation_error_message}}</label>
</div>

<!-- one chart per task -->
<div id='charts'>
<!-- 
    {% for task_dict in model_data.task_ratings %}
        <div id='{{model_data.selected_model}}_{{task_dict.task_name}}_chart'>
        <h4>{{model_data.selected_model}} evaluation for {{task_dict.task_name}}</h4>
        <canvas id="{{task_dict.task_name}}_chart" width="400" height="100"></canvas>
        </div>
    {% endfor %}
-->
</div>
<div id='notes_div'>
</div>
{%endblock content%}